<ol id="orderedItemList"></ol>
<!-- 
<div class="input-group mb-3">
  <button
    class="btn btn-outline-secondary"
    type="button"
    id="button-addon1"
    (onclick)="onKey()"
  >
    ADD (+)
  </button>
  <input
    type="text"
    class="form-control"
    placeholder="new-taskName"
    aria-label="Example text with button addon"
    aria-describedby="button-addon1"
    (value)="(listFilter)"
  />
</div>
 -->

<button (click)="addTask()">ADD Task</button>
<input type="text" [(ngModel)]="taskInput.name" maxlength="33" />
<br />

<textarea [(ngModel)]="taskInput.details" maxlength="249"></textarea>
<br />
<br />
<textarea [(ngModel)]="taskInput.priority"></textarea>

<label for="priority">Prioritize:</label>

<select name="priority" id="priority">
  <option value="priorityLow">Low</option>
</select>

<br />
<br />

EXAMPLE TASK: "{{ taskInput.name }}"
<p>{{ taskInput.details }}</p>

<button (click)="removeTask()">DELETE Task</button>
<input type="number" min="1" [(ngModel)]="removeTaskNumber" />
