<h2>TnT Task Form</h2>
<form #formInput="ngForm" (ngSubmit)="addTask()">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input name="name" matInput [(ngModel)]="taskInput.name" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select name="priority" [(ngModel)]="taskInput.priority">
      <mat-option value="LOW">LOW</mat-option>
      <mat-option value="MEDIUM">MEDIUM</mat-option>
      <mat-option value="HIGH">HIGH</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea
      matInput
      name="details"
      [(ngModel)]="taskInput.details"
    ></textarea>
  </mat-form-field>

  <button class="button" type="submit">ADD Task</button>
</form>

<pre>{{ formInput.value | json }} <br /></pre>
<p>
  EXAMPLE TASK: "{{ taskInput.name }}"
  <br />
  {{ taskInput.details }}
  <br />
  {{ taskInput.priority }}
</p>
<p>
  <button (click)="removeTask()">DELETE Task</button>
  <input type="number" min="1" [(ngModel)]="removeTaskNumber" />
</p>

<ol id="orderedItemList"></ol>
